<li class="nav-item">
    <!-- parent pages--><a class="nav-link" href="index" role="button" aria-expanded="false">
    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-chart-pie"></span></span><span class="nav-link-text ps-1">Dashboard</span>
    </div>
    </a>
</li>
<li class="nav-item">
    <!-- label-->
    <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
    <div class="col-auto navbar-vertical-label text-white fw-normal">Library
    </div>
    <div class="col ps-0">
        <hr class="mb-0 navbar-vertical-divider bg-700" style="height:2px;" />
    </div>
    </div>
    <!-- parent pages-->
    <a class="nav-link" href="create-title" role="button" aria-expanded="false">
        <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-plus-circle"></span></span><span class="nav-link-text ps-1">Add A Title</span>
        </div>
    </a>
    <!-- parent pages--><a class="nav-link" href="library" role="button" aria-expanded="false">
    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-book"></span></span><span class="nav-link-text ps-1">View Your Titles</span>
    </div>
    </a>
    <!-- parent pages--><a class="nav-link" href="publishing" role="button" aria-expanded="false">
    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-pen-nib"></span></span><span class="nav-link-text ps-1">Publishing Projects</span>
    </div>
    </a>
    <!-- parent pages--><a class="nav-link" href="sizing-calculator" role="button" aria-expanded="false">
    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-calculator"></span></span><span class="nav-link-text ps-1">Sizing Calculator</span>
    </div>
    </a>
</li>
<li class="nav-item">
    <!-- label-->
    <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
    <div class="col-auto navbar-vertical-label text-white fw-normal">Orders
    </div>
    <div class="col ps-0">
        <hr class="mb-0 navbar-vertical-divider bg-700" style="height:2px;" />
    </div>
    </div>
    <!-- parent pages--><a class="nav-link" href="new-order" role="button" aria-expanded="false">
    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-cart-plus"></span></span><span class="nav-link-text ps-1">Place An Order</span>
    </div>
    </a>
    <!-- parent pages--><a class="nav-link" href="orders" role="button" aria-expanded="false">
    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-box-open"></span></span><span class="nav-link-text ps-1">View An Order</span>
    </div>
    </a>
</li>
<li class="nav-item">
    <!-- label-->
    <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
    <div class="col-auto navbar-vertical-label text-white fw-normal">Distribution
    </div>
    <div class="col ps-0">
        <hr class="mb-0 navbar-vertical-divider bg-700" style="height:2px;" />
    </div>
    </div>
    <!-- parent pages--><a class="nav-link" href="distribution" role="button" aria-expanded="false">
    <div class="d-flex align-items-center">
        <span class="nav-link-icon">
        <span class="fas fa-books"></span>
        </span>
        <span class="nav-link-text ps-1">Manage Distribution</span>
    </div>
    </a>
    <!-- parent pages--><a class="nav-link" href="ws-reports" role="button" aria-expanded="false">
    <div class="d-flex align-items-center">
        <span class="nav-link-icon">
        <span class="fas fa-chart-line-up"></span>
        </span>
        <span class="nav-link-text ps-1">Reporting</span>
    </div>
    </a>
</li>
<li class="nav-item">
    <!-- label-->
    <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
    <div class="col-auto navbar-vertical-label text-white fw-normal">Your Account
    </div>
    <div class="col ps-0">
        <hr class="mb-0 navbar-vertical-divider bg-700" style="height:2px;" />
    </div>
    </div>
    <!-- parent pages--><a class="nav-link" href="profile" role="button" aria-expanded="false">
    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-user"></span></span><span class="nav-link-text ps-1">Profile</span>
    </div>
    </a>
    <!-- parent pages--><a class="nav-link" id="teamManagement" href="team" role="button" aria-expanded="false">
    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-users"></span></span><span class="nav-link-text ps-1">Team Management</span>
    </div>
    </a>
    <!-- parent pages--><a class="nav-link" href="addresses" role="button" aria-expanded="false">
    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-address-book"></span></span><span class="nav-link-text ps-1">Manage Addresses</span>
    </div>
    </a>
    <!-- parent pages--><a class="nav-link" href="payments" role="button" aria-expanded="false">
    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-coins"></span></span><span class="nav-link-text ps-1">Payments</span>
    </div>
    </a>
    
    <a id="bvPlans" class="nav-link" href="plans" role="button" aria-expanded="false">
        <div class="d-flex align-items-center">
            <span class="nav-link-icon">
                <span class="fas fa-retweet"></span>
            </span>
            <span class="nav-link-text ps-1">Your Plan</span>
        </div>
    </a>
</li>
<li class="nav-item">
    <!-- label-->
    <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
    <div class="col-auto navbar-vertical-label text-white fw-normal">BookVAULT
    </div>
    <div class="col ps-0">
        <hr class="mb-0 navbar-vertical-divider bg-700" style="height:2px;" />
    </div>
    </div>
    <!-- parent pages--><a class="nav-link" href="https://forms.gle/MBVmLKwGxUaXQf1i6" target="_BLANK" role="button" aria-expanded="false">
    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-comments-alt"></span></span><span class="nav-link-text ps-1">Feedback</span>
    </div>
    </a>
</li>